a{
    border-radius: 20px,20px;
    font-size:20px;
    

  }
  .wrapper3 {
    position: fixed;
    width:305;
    background-color:rgb(0, 128, 255);
    color:rgb(249, 249, 249);
    height: 80px;
    padding:10px 5px 20px 10px;
    top:260px;
    left:595px;
    font-size:40px;
    border-style: solid;
    border-radius: 20px;
    font-weight: bold;
    border-style: none;

  }
  .wrapper2 {
      
    position: fixed;
    width:290;
    background-color:rgb(0, 128, 255);
    color:rgb(249, 249, 249);
    height: 80px;
    padding:10px 5px 20px 10px;
    top:400px;
    left:600px;
    font-size:40px;
    border-style: solid;
    border-radius: 20px;
    font-weight: bold;
    border-style: none;

  }
  .wrapper2:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(0, 45, 63);
    text-decoration: none;
    
  }
  .wrapper3:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(0, 45, 63);
    text-decoration: none;

  }
  