
.input-search::placeholder{
    color:rgb(0, 128, 255);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold

}
.input-search{
    position: fixed;
    left: 240;
    padding-right: 40px;
    color:rgb(0, 128, 255);

    outline: none;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px;
    height: 50px;
    border-style: none;
    width: 300px;
    background-color: transparent;
    border-bottom:1px solid rgb(0, 128, 255);
    
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    border-radius: 20px
    
  }


.radio{

position: fixed;
top: 400;
left:5px;



}
/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;
  max-width: 400px;
  cursor: pointer;
  transition: .3s;
  left: 50;
}

.rad-label:hover,
.rad-label:focus-within {
  background: rgba(0, 102, 255, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(45, 100%, 39%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(223, 100%, 50%);
}


/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}