
  body{
    background-image: url('http://localhost/mvc/public/ph1.jpg');
    background-repeat: no-repeat;
    background-size: 1550px 800px;
    font-family: 'Oxygen', sans-serif;
  }
  p {
    margin: 0 !important;
  }
  .main{
    margin-top: 25px;
  }
  
  .title { 
      font-size: 50px;
      font-family: 'Passion One', cursive; 
      font-weight: 400; 
    color: #fff;
  }
  a{
    border-radius: 15px,15px;
  }
  hr{
    color: rgb(0, 0, 0);
}
  
  .form-group{
      margin-bottom: 15px;
  }
  
  label{
      margin-bottom: 15px;
  }
  
  input,
  input::-webkit-input-placeholder {
    font-size: 13px;
    padding-top: 3px;
  }
  
  .main-login{
    background-color: #2a8eff80;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 30px
  }
  
  .main-center{
    margin: 0 auto;
    max-width: 450px;
    padding: 40px 40px;
  
  }
  
  .login-button{
      margin-top: 15px;
  }
  .message {
    color: #fff;
    text-shadow: 1px 1px 2px red;
    padding-left: 50px;
    font-weight: bold;
  }